.marcador {
  background-color: black;
  padding: 10px;
  gap: 10px;
  text-align: center;
  display: flex;
}

.resultado {
}

.marcador-jugador {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.marcador-resultado {
  color: white;
  font-size: 18px;
}
