.tablero {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
}

.turno {
  background-color: white;
}

.fila {
  display: flex;
}

.casilla {
  flex: 1;
  height: 100px;
  background-color: grey;
  border: 1px solid black;
}
