/* Cabecera */
.header {
    display: flex;
}

.header-child {
    flex: 1;
}

/* Filas */
.filas {
    display: flex;
    flex-direction: column;
}
.fila {
    display: flex;
}
.fila-child {
    flex: 1;
}

.table {
    display: flex;
    flex-direction: column;
}