.lista-tareas {
  width: 1000px;
}

.lista {
  border: 1px solid;

}

.lista div {
  margin-bottom: 5px;
  text-align: left;
}

.header-lista {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
}
