.tablero {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    margin: 0 auto;
}

.casilla {
    width: 195px;
    height: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: 3px solid black;
    font-size: 100px;
    cursor: pointer;
}
